.card {
  width: 8.5em;
	background: #252525;
	color: #DDD;
	padding-bottom: 5px;
	margin: 6px;
	
	border-radius: 6px;
	transition: background 100ms, transform 150ms
}

.image-container {
	transition: filter 150ms;
	position: relative;
}
.image-container:hover {
	filter: brightness(1.2);
	cursor: pointer;
}

.image-selected {
	transition: filter 150ms;
}
/* no hover effect for .plus-icon when selected */
.image-selected:hover {
	cursor: pointer;
	filter: brightness(1.1);
}

.plus-icon {
	position: absolute;
	width: 64px;
	opacity: 0;
	top:75px;
	right:35px;
	transition: opacity 150ms, transform 250ms
}
.image-container:hover .plus-icon {
	opacity: 1;
	transform: translateY(-10px);
}

.title {
	display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
	overflow: hidden;
	padding: 0px 10px;
	font-size: 14px;
	transition: filter 50ms;
}

.title:hover {
	filter: drop-shadow(1px 1px 1px greenyellow)
}