.card {
  width: 8.5em;
	background: #252525;
	color: #DDD;
	padding-bottom: 5px;
	margin: 6px;
	
	border-radius: 6px;
	transition: filter 150ms, transform 150ms, background 100ms;
}

.card:hover {
	filter: brightness(1.3);
	color: #ccc;
	cursor: pointer;
}

.title {
	display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
	overflow: hidden;
	padding: 0px 10px;
	font-size: 14px;
}