.today-item {
	margin: 0;
	padding: 10px 0px;
	border-top: solid 1.2px #444;
	overflow: auto;
	transition: transform 200ms, filter 100ms;
}

.today-item:hover {
	filter: brightness(1.4);
	transform: translateY(-3px);
}

.item-title {
	text-align: left;
	font-size: 15px;
	display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
	overflow: hidden;
}

.item-title:hover {
	color: yellow;
}