* {
  /*box-sizing: border-box;*/
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, sans-serif;
  line-height: 1.4;
  background-color: #121212;
}

a {
  color: #333;
  text-decoration: none;
}

.container {
  margin: 0;
  padding: 0;
  text-align: center;
}