* {
  /*box-sizing: border-box;*/
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, sans-serif;
  line-height: 1.4;
  background-color: #121212;
}

a {
  color: #333;
  text-decoration: none;
}

.container {
  margin: 0;
  padding: 0;
  text-align: center;
}

.btn {
  display: inline-block;
  border: none;
  background: #2A2A2A;
  color: #DDD;
  padding: 7px 20px;
  border: solid 0px #EEE;
  border-radius: 5px;
  font-size: 1.5em;
  text-decoration: none;
  outline: none;
  width: 200px;
  height: 50px;
  cursor:pointer;
  transition: background 200ms, border-width 100ms linear ;
}

.btn:hover {
  background-color: #333;
  border-width: 1.5px;
}

.btn:active {
  border-width: 3px;
}