* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, sans-serif;
  line-height: 1.4;
  background-color: #121212;
  margin-bottom: 50px;
}
  
a {
	color: #DDD;
	text-decoration: none;
}

.header {
  padding: 10px;
  margin-bottom: 10px;
  color: #EEE;
  background-color: #222;
}
.container {
  margin: 0;
  padding: 0;
  text-align: center;
}
